AnacondaSolutions\__pycache__
AnacondaSolutions\asesorate_sas\__pycache__
requeriments.txt
AnacondaSolutions/__pycache__/
AnacondaSolutions/asesorate_sas/__pycache__/
AnacondaSolutions/asesorate_sas/migrations/__pycache__/__init__.cpython-37.pyc
AnacondaSolutions/asesorate_sas/migrations/__pycache__/__init__.cpython-37.pyc
